input.form-control:focus{
    outline: 1px solid #5b9aff ; 
    border-radius: 4px;
    box-shadow: none;
}
input.form-control:hover{
    outline: 1px solid #5b9aff ; 
    border-radius: 4px;
    box-shadow: none;
}
select.form-control:focus{
    outline: 1px solid #5b9aff ; 
    border-radius: 4px;
    box-shadow: none;
}
select.form-control:hover{
    outline: 1px solid #5b9aff ; 
    border-radius: 4px;
    box-shadow: none;
}

.responsive-input2 {
    width: 100% ; /* Default to full width */
  }
  
  